
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: #000;
    height: 100vh;
}

.interface{
    max-width: 1280px;
    margin: auto;
}

.flex{
    display: flex;
}

.btn-contato button{
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    background: linear-gradient(to top, #e2823c, #900eb0);
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    transition: .3s;
}

h2.titulo{
    color: #fff;
    font-size: 38px;
    text-align: center;
}

h2.titulo span{
    color: #e2823c;
}

button:hover{
    box-shadow: 0px 0px 8px #e2823c;
    transform: scale(1.05);
}

/*Cabeçalho*/
header{
    padding: 40px 4%;
}
header > .interface{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a{
    color: #5c5c5c;
    text-decoration: none;
    display: inline-block;
    transition: .3s;
}

header a:hover{
    color: #fff;
    transform: scale(1.05);
}

header nav ul{
    list-style-type: none;
}

header nav.menu-desktop ul li{
    display: inline;
    padding: 0 40px;
}

/* estilo menu mobile*/
.btn-abrir-menu i{
    color: #e2823c;
    font-size: 40px;
}

.menu-mobile{
    background-color: #000;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 99999;
    width: 0%;
    overflow: hidden;
    transition: .3s;
}

.menu-mobile.abrir-menu{
    width: 70%;
}

.menu-mobile.abrir-menu ~ .overlay-menu{
    display: block;
}

.menu-mobile .btn-fechar{
    padding: 20px 6%;
}

.menu-mobile .btn-fechar i{
    color: #e2823c;
    font-size: 30px;

}

.menu-mobile nav ul{
    text-align: right;
}

.menu-mobile nav ul li a{
    color: #fff;
    font-size: 20px;
    font-weight: 300;
    padding: 20px 8%;
    display: block;
}

.menu-mobile nav ul li a:hover{
    background: linear-gradient(to right, #e2823c, #900eb0);
    color: #000;
}

.overlay-menu{
    background-color: #000000a4;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 88888;
    display: none;
}

/* topo do site*/
section.topo-do-site{
    padding: 80px 12%;
}


section.topo-do-site .flex{
    align-items: center;
    justify-content: center;
    gap: 90px;
}

.topo-do-site h1{
    color: #fff;
    font-size: 42px;
    line-height: 40px;
}

.topo-do-site .txt-topo-site h1 span{
    background: linear-gradient(to right, #e2823c, #900eb0);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    margin: 0%;
}

.topo-do-site .txt-topo-site p{
    color: #fff;
    margin: 40px 0;
}

.topo-do-site .txt-topo-site ol{
    margin: 15px;
}

.topo-do-site .txt-topo-site ol li{
    color: #fff;
    margin: 15px 0;
    margin-left: 10px;
}

/*animação*/
.topo-do-site .img-topo-site img{
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;
}

/*@keyframes flutuar {
    0%{
        top: 0;
    }
    100%{
        top: 30px;
    }
}*/

/* estilo das especialidades*/
section.especialidades{
    padding: 60px 4%;
}

section.especialidades h2 span {
    background: linear-gradient(to left, #e2823c, #900eb0);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

section.especialidades .flex{
    gap: 60px;
}

.especialidades .especialidades-box{
    color: #fff;
    padding: 40px;
    width: 660px;
    justify-content: space-between;
    border-radius: 20px;
    margin-top: 45px;
    transition: .3s;
}

.especialidades .especialidades-box:hover{
    transform: scale(1.05);
    box-shadow: 0 0 20px #ffffff59;
}

.especialidades .especialidades-box i{
    font-size: 70px;
    color: #e2823c;
}

.especialidades .especialidades-box h3{
    font-size: 28px;
    margin: 15px 0;
}

.especialidades .especialidades-box a{
    text-decoration: none;
    color: #fff;
}

/* estilo sobre*/
section.sobre{
    padding: 80px 12%;
}

section.sobre .flex{
    align-items: center;
    gap: 40px;
}

.sobre .txt-sobre{
    color: #fff;
}

.sobre .txt-sobre h2{
    font-size: 42px;
    line-height: 40px;
    margin-bottom: 30px;
}

.sobre .txt-sobre h2 span{
    background: linear-gradient(to right, #e2823c, #900eb0);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    display: block;
}

.sobre .txt-sobre p{
    margin: 20px 0;
    text-align: justify;
}

.btn-social button{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    background: linear-gradient(to bottom, #e2823c, #900eb0);
    font-size: 22px;
    cursor: pointer;
    margin: 0 5px;
    transition: .3s;
}

/* estilo rodapé*/

/*footer{
    padding: 40px 0%;
    box-shadow: 0 0 40px 10px #ffffff17;
}*/

footer .flex{
    justify-content: space-between;
}

footer .line-footer{
    padding: 10px 0;
    margin-top: 0%;
}

footer .line-footer p{
    text-align: center;
}

.borda{
    border-top: 2px solid #900eb0;
}

footer .line-footer p a{
    background: linear-gradient(to left, #e2823c, #900eb0);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.btn-abrir-menu{
    display: none;
}

@media screen and (max-width: 720px){
    .flex{
        flex-direction: column;
    }

    h2.titulo{
        font-size: 34px;
        line-height: 30px;
    }

    .topo-do-site .flex{
        flex-direction: column-reverse;
    }

    /* cabeçalho */
    .menu-desktop, .btn-contato{
        display: none;
    }

    section.topo-do-site .flex{
        gap: 40px;
    }

    section.topo-do-site{
        padding: 20px 8%;
    }

    .topo-do-site h1{
        font-size: 30px;
    }

    .topo-do-site .img-topo-site img{
        width: 100%;
    }

    section.especialidades{
        padding: 40px;
    }

    section.especialidades h2{
        text-align: left;
        font-size: 34px;
    }

    .flex .especialidades-box{
        width: 100%;
    }

    .logo-footer{
        text-align: center;
    }

    .btn-social{
        text-align: center;
    }

    footer .line-footer p{
        text-align: center;
    }

    .btn-abrir-menu{
        display: block;
    }
}
